ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
}

table {
  margin: 0 auto;
  width: 70%;
}

td {
  text-align: center;
  vertical-align: middle;
  border: 2px solid darkblue;
  padding: 1px;
  font-weight: bold;
}

.highlight {
  background-color: lightblue;
}

.founded {
  background-color: #F3DEDE;
}

.hinted {
  background-color: #FFF700;
}

.founded-search-area {
  color: #FF7878;
}
